#page_principale {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 70px;
    padding-bottom: 70px;

}

.lien {
    text-decoration: underline;
    color: blueviolet;
    border: solid black 2px;
    padding: 17px;
    border-radius: 41px;

}

#list1 {

    align-items: flex-start;
    margin-left: 7%;
}
#list2 {

    align-items: flex-start;
    margin-left: 44%;
}

#list3 {

    align-items: flex-start;
    margin-left: 82%;
}

.list {
    display: flex;
    flex-direction: column;
}

input {
    border-radius: 15px;
}

button {
    border-radius: 15px;
}